doctype html
#output
.input
    span.m1-2 > 
    input#input(autofocus spellcheck = "false")
link#styles(rel="stylesheet", type="text/css" href="/stylesheets/retro.css")
link(href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&family=Work+Sans&display=swap", rel="stylesheet")
script(src="/javascripts/index.js")
script(src="/javascripts/game-disks/village-text-choice.js") 
script loadDisk(village);

